body {
  background-color: rgb(244, 244, 224);
}
h1 {
  color: black;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
a {
  color: black;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
ul {
  /* border: 4px solid green; */
  border-bottom: 4px solid skyblue;
  border-left: 6px dotted skyblue;
}
p {
  color: black;
  text-align: left;
  line-height: 20px;
  letter-spacing: 2px;
  column-count: 2;
  column-gap: 60px;
}
li {
  list-style-type: square;
  /* text-shadow: 6px 6p yellow; */
  text-shadow: 2px 2px #e9e9e9;
}
span {
  display: inline-block;
  margin: 20px;
  padding: 20px;
}
div {
  /* display: inline; */
  border: 2px solid crimson;
  margin: 20px;
  padding: 20px;
}
