body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  position: sticky;
  padding: 20px;
  right: 1000px;
  top: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
}
.main {
  position: relative;
  left: 200px;
}
.main img {
  max-width: 250px;
  position: relative;
  right: 100px;
  top: 30px;
}
.welcome {
  position: absolute;
}
.main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: skyblue;
  text-align: center;
  padding: 20px;
  white-space: nowrap;
}
.main-nav li {
  list-style: none;
  display: inline;
  line-height: normal;
  padding: 10px 20px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  width: 25%;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
}
